<nav class="menu">
    <div class="container">
        <a href="" class="brand">MiniUtube</a>
        <ul>
            <li *ngIf="!isLoggedIn">
                <a routerLink="/login">Sign In</a>
            </li>
            <li *ngIf="!isLoggedIn">
                <a routerLink="/registration">Sign Up</a>
            </li>
            <li *ngIf="isLoggedIn">
                <a routerLink="/office">Office</a>
            </li>
            <li *ngIf="isLoggedIn">
                <a (click)="logOut()">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container wrapper">
    <router-outlet></router-outlet>
</div>