<p>
    test works!
</p>

<form name="form1" [formGroup]="videoForm" enctype="multipart/form-data">

    <div>
        <label for="image1">Image File</label>
        <input name="image" type="file" formControlName="videoFile" (change)="fileChanged($event)" />
    </div>
    <div>
        <label for="image1">title</label>
        <input name="title" type="text" formControlName="title" />
    </div>
    <div>
        <label for="image1">descr</label>
        <input name="title" type="text" formControlName="descr" />
    </div>
    <div>
        <input type="submit" value="Submit" (click)="Send()" />
    </div>
</form>

<button type="button" (click)="getTest()">TestAuth</button>